Repository compdemocracy/polis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pol-is/core, @pol-is/community, @colinmegill, @metasoarous, @patcon, @ballpointpenguin

Update README.md
  client-admin/README.md
Owners: @colinmegill

Update README.md
  client-admin/README.md
Owners: @colinmegill

Update README.md
  client-admin/README.md
Owners: @colinmegill

e2e: Added test for trailing slash.
  e2e/cypress/integration/polis/client-admin/conversation.js
Owners: @patcon, @ballpointpenguin

Fixed bug in trailing slash redirects on admin subpages.
  client-admin/src/components/conversation-admin/comment-moderation/index.js
  client-admin/src/components/conversation-admin/index.js
Owners: @colinmegill

Oops. Fixed e2e test.
  e2e/cypress/integration/polis/client-admin/conversation.js
Owners: @patcon, @ballpointpenguin

Added logic to remove trailing slash over all routes.
  client-admin/src/app.js
  client-admin/src/components/conversation-admin/comment-moderation/index.js
  client-admin/src/components/conversation-admin/index.js
Owners: @colinmegill

e2e: ensure logout happens before login.
  e2e/cypress/support/commands.js
Owners: @patcon, @ballpointpenguin

e2e: Fixed conversation tests.
  e2e/cypress/integration/polis/client-admin/conversation.js
  e2e/cypress/integration/polis/client-admin/create_user.spec.js
Owners: @patcon, @ballpointpenguin

e2e: Moved user signup into support code to run before each spec.
  e2e/cypress/integration/polis/client-admin/conversation.js
  e2e/cypress/integration/polis/client-admin/create_user.spec.js
  e2e/cypress/support/index.js
Owners: @patcon, @ballpointpenguin

Added helper notes to avoid confusing future breakages.
  README.md
Owners: @pol-is/core, @pol-is/community

Added badges for nightlies and e2e tests (#301)
  .github/workflows/build-nightlies.yml
  .github/workflows/cypress-tests.yml
  README.md
Owners: @metasoarous, @pol-is/core, @pol-is/community

Added badges for nightlies and e2e tests (#301)
  .github/workflows/build-nightlies.yml
  .github/workflows/cypress-tests.yml
  README.md
Owners: @metasoarous, @pol-is/core, @pol-is/community

Added badges for nightlies and e2e tests (#301)
  .github/workflows/build-nightlies.yml
  .github/workflows/cypress-tests.yml
  README.md
Owners: @metasoarous, @pol-is/core, @pol-is/community

Made subscription error's alert possible to internationalize.
  client-participation/js/strings/en_us.js
  client-participation/js/views/vote-view.js
Owners: @colinmegill

Added spanish translation.
  client-participation/js/strings/es_la.js
Owners: @colinmegill

Improved docs for comment translation setup. Changed to simplified base64 google credentials.
  docs/deployment.md
  server/README.md
  server/bin/copyGoogleCredsToHeroku
  server/bin/stringifyGoogleCreds.js
  server/docker-dev.env
  server/server.js
Owners: @pol-is/core, @pol-is/community, @metasoarous, @patcon, @ballpointpenguin

Initiated a CHANGELOG.
  .gitattributes
  CHANGELOG.md
Owners: @pol-is/core, @pol-is/community

Renamed e2e specfile.
  e2e/cypress/integration/polis/client-admin/routes.spec.js
Owners: @patcon, @ballpointpenguin

e2e: Added redirect tests for various levels of nested route.
  e2e/cypress/integration/polis/client-admin/routes.spec.js
Owners: @patcon, @ballpointpenguin

Added @ballpointpenguin props in docs for dockers.
  docs/deployment.md
Owners: @pol-is/core, @pol-is/community

Allow subscription alert to be localized/translated (#316)
  client-participation/js/strings/en_us.js
  client-participation/js/strings/es_la.js
  client-participation/js/views/vote-view.js
Owners: @colinmegill

Allow subscription alert to be localized/translated (#316)
  client-participation/js/strings/en_us.js
  client-participation/js/strings/es_la.js
  client-participation/js/views/vote-view.js
Owners: @colinmegill

Allow subscription alert to be localized/translated (#316)
  client-participation/js/strings/en_us.js
  client-participation/js/strings/es_la.js
  client-participation/js/views/vote-view.js
Owners: @colinmegill

Moved to .github dir, new location.
  .github/dependabot.yml
Owners: @metasoarous

Migrated to v2 of dependabot config. Adds github actions updates. Ignored non-admin client updates for now.
  .github/dependabot.yml
Owners: @metasoarous

Add dependabot config for JS and Docker parts of repo (#266)
  .github/dependabot.yml
Owners: @metasoarous

Add dependabot config for JS and Docker parts of repo (#266)
  .github/dependabot.yml
Owners: @metasoarous

Add dependabot config for JS and Docker parts of repo (#266)
  .github/dependabot.yml
Owners: @metasoarous

Tag dependabot auto-PRs with our existing labels.
  .github/dependabot.yml
Owners: @metasoarous

Upgrade client-admin node version from v8.17.0 to v11.15.0 (working).
  client-admin/Dockerfile
Owners: @metasoarous, @patcon, @ballpointpenguin

Upgrade client-report node version from v10.20.1 to v11.15.0 (working).
  client-report/Dockerfile
Owners: @metasoarous, @patcon, @ballpointpenguin

Upgrade client-participation node version from v8.17.0 to v11.15.0 (working).
  client-participation/Dockerfile
Owners: @metasoarous, @patcon, @ballpointpenguin

Upgrade bcrypt v3.0.0 to v3.0.8 in order to work with Node v12+.
  server/package-lock.json
  server/package.json
Owners: @metasoarous

Moved to using alpine linux for nginx container.
  file-server/nginx.Dockerfile
Owners: @pol-is/core, @pol-is/community

Moved postgres container to using alpine linux as base.
  server/Dockerfile-db
Owners: @metasoarous, @patcon, @ballpointpenguin

Tag dependabot auto-PRs with our existing labels. (#340)
  .github/dependabot.yml
Owners: @metasoarous

Tag dependabot auto-PRs with our existing labels. (#340)
  .github/dependabot.yml
Owners: @metasoarous

Tag dependabot auto-PRs with our existing labels. (#340)
  .github/dependabot.yml
Owners: @metasoarous

For dependabot, hardcoded dev branch instead of accepting implied default branch. (avoids unexpected activation on forks)
  .github/dependabot.yml
Owners: @metasoarous

.github/CODEOWNERS:

# This is used to auto-assign reviewers to pull requests, among other things.
#
# Note: Currently only works for users/teams with write access.
# See: https://help.github.com/en/github/creating-cloning-and-archiving-reposoitories/about-code-owners

*            @pol-is/core @pol-is/community

/client-*/** @colinmegill

/.github/**  @metasoarous
/server/**   @metasoarous
/math/**     @metasoarous

docker-compose.yml @metasoarous @patcon @ballpointpenguin
Dockerfile*        @metasoarous @patcon @ballpointpenguin
*.env*             @metasoarous @patcon @ballpointpenguin

/e2e/**            @patcon @ballpointpenguin
