Repository compdemocracy/polis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pol-is/core, @pol-is/community, @colinmegill, @metasoarous, @patcon, @ballpointpenguin

Applied fix to prevent bug in comment for first translated string.
  client-participation/js/strings/en.js
Owners: @colinmegill

Converted JS translation files into proper format for Mojito.
  client-participation/js/strings/da-DK.js
  client-participation/js/strings/de-DE.js
  client-participation/js/strings/en.js
  client-participation/js/strings/es-419.js
  client-participation/js/strings/fr-FR.js
  client-participation/js/strings/it-IT.js
  client-participation/js/strings/ja-JP.js
  client-participation/js/strings/nl-NL.js
  client-participation/js/strings/pt-BR.js
  client-participation/js/strings/zh-CN.js
  client-participation/js/strings/zh-TW.js
Owners: @colinmegill

Pulled string translations from Mojito translation server.
  client-participation/js/strings/da-DK.js
  client-participation/js/strings/de-DE.js
  client-participation/js/strings/es-419.js
  client-participation/js/strings/fr-FR.js
  client-participation/js/strings/it-IT.js
  client-participation/js/strings/ja-JP.js
  client-participation/js/strings/nl-NL.js
  client-participation/js/strings/pt-BR.js
  client-participation/js/strings/zh-CN.js
  client-participation/js/strings/zh-TW.js
Owners: @colinmegill

Updated string files to get translation working.
  client-participation/js/strings.js
  client-participation/js/strings/da-DK.js
  client-participation/js/strings/de-DE.js
  client-participation/js/strings/en.js
  client-participation/js/strings/es-419.js
  client-participation/js/strings/fr-FR.js
  client-participation/js/strings/it-IT.js
  client-participation/js/strings/ja-JP.js
  client-participation/js/strings/nl-NL.js
  client-participation/js/strings/pt-BR.js
  client-participation/js/strings/zh-CN.js
  client-participation/js/strings/zh-TW.js
Owners: @colinmegill

Added workflows for pushing and pulling translations from demo server.
  .github/workflows/pull-translations.yml
  .github/workflows/push-translations.yml
Owners: @metasoarous

Removed usused strings. [pol-is/polisServer#320]
  client-participation/js/strings/en.js
Owners: @colinmegill

Renamed file to use proper language codes for Mojito import.
  client-participation/js/strings.js
  client-participation/js/strings/da-DK.js
  client-participation/js/strings/de-DE.js
  client-participation/js/strings/en.js
  client-participation/js/strings/es-419.js
  client-participation/js/strings/fr-FR.js
  client-participation/js/strings/it-IT.js
  client-participation/js/strings/ja-JP.js
  client-participation/js/strings/nl-NL.js
  client-participation/js/strings/pt-BR.js
  client-participation/js/strings/zh-CN.js
  client-participation/js/strings/zh-TW.js
Owners: @colinmegill

Don't pull untranslated strings.
  .github/workflows/pull-translations.yml
Owners: @metasoarous

Fixed quote type.
  .github/workflows/pull-translations.yml
Owners: @metasoarous

Bugfix. typo.
  .github/workflows/pull-translations.yml
Owners: @metasoarous

Added labels to PR action.
  .github/workflows/pull-translations.yml
Owners: @metasoarous

Added a demo string.
  .github/workflows/push-translations.yml
  client-participation/js/strings/en.js
Owners: @metasoarous, @colinmegill

Fixed issue. Changed scheduled time.
  .github/workflows/pull-translations.yml
Owners: @metasoarous

Added the giga dot style for download.
  .github/workflows/pull-translations.yml
  .github/workflows/push-translations.yml
Owners: @metasoarous

For dependabot, hardcoded dev branch instead of accepting implied default branch. (avoids unexpected activation on forks)
  .github/dependabot.yml
Owners: @metasoarous

Allow mojito admin password to come from GitHub secrets.
  .github/workflows/pull-translations.yml
  .github/workflows/push-translations.yml
Owners: @metasoarous

Added caching of mojito cli jar. Split setup between labelled steps. Docs.
  .github/workflows/pull-translations.yml
  .github/workflows/push-translations.yml
Owners: @metasoarous

Only run Mojito pushes twice per day, to conserve Heroku dyno hours.
  .github/workflows/pull-translations.yml
Owners: @metasoarous

Updated name of Mojito project/repo from 'polis' to 'polis:client-participation'.
  .github/workflows/pull-translations.yml
  .github/workflows/push-translations.yml
Owners: @metasoarous

Add @mgifford as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @ebarry as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Update @colinmegill as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @lizbarry as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Update @patcon as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @metasoarous as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @vital-edu as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @mbjorkegren as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @crkrenn as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Update @patcon as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Update @colinmegill as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @bamstam as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @uzzal2k5 as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @kenwheeler as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @tallysmartins as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @joenio as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Update @audreyt as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Update @mbjorkegren as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @audreyt as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @PLrolle as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

Add @ajsmitha7 as a contributor
  .all-contributorsrc
  README.md
Owners: @pol-is/core, @pol-is/community

.github/CODEOWNERS:

# This is used to auto-assign reviewers to pull requests, among other things.
#
# Note: Currently only works for users/teams with write access.
# See: https://help.github.com/en/github/creating-cloning-and-archiving-reposoitories/about-code-owners

*            @pol-is/core @pol-is/community

/client-*/** @colinmegill

/.github/**  @metasoarous
/server/**   @metasoarous
/math/**     @metasoarous

docker-compose.yml @metasoarous @patcon @ballpointpenguin
Dockerfile*        @metasoarous @patcon @ballpointpenguin
*.env*             @metasoarous @patcon @ballpointpenguin

/e2e/**            @patcon @ballpointpenguin
