Repository compdemocracy/polis, pull requests merged in 2020-06, with the labels that each got.

#284 Apply package update from PDIS branch
  client-participation/package-lock.json
  client-participation/package.json
Labels: section:client-participation

#291 remove conflicting gulp version from client-participation
  client-participation/package-lock.json
  client-participation/package.json
Labels: bug, section:client-participation

#264 Removed unused embed_helper.js
  client-participation/api/embed_helper.js
  client-participation/gulpfile.js
Labels: blocked, section:client-participation

#290 Some affordances for custom domain usage
  server/server.js
Labels: section:server

#295 Run e2e tests over GitHub Actions
  .github/workflows/cypress-tests.yml
  docker-compose.yml
  e2e/.eslintrc.js
  e2e/.gitignore
  e2e/README.md
  e2e/cypress.json
  e2e/cypress/fixtures/example.json
  e2e/cypress/fixtures/users.json
  e2e/cypress/integration/examples/actions.spec.js
  e2e/cypress/integration/examples/aliasing.spec.js
  e2e/cypress/integration/examples/assertions.spec.js
  e2e/cypress/integration/examples/connectors.spec.js
  e2e/cypress/integration/examples/cookies.spec.js
  e2e/cypress/integration/examples/cypress_api.spec.js
  e2e/cypress/integration/examples/files.spec.js
  e2e/cypress/integration/examples/local_storage.spec.js
  e2e/cypress/integration/examples/location.spec.js
  e2e/cypress/integration/examples/misc.spec.js
  e2e/cypress/integration/examples/navigation.spec.js
  e2e/cypress/integration/examples/network_requests.spec.js
  e2e/cypress/integration/examples/querying.spec.js
  e2e/cypress/integration/examples/spies_stubs_clocks.spec.js
  e2e/cypress/integration/examples/traversal.spec.js
  e2e/cypress/integration/examples/utilities.spec.js
  e2e/cypress/integration/examples/viewport.spec.js
  e2e/cypress/integration/examples/waiting.spec.js
  e2e/cypress/integration/examples/window.spec.js
  e2e/cypress/integration/polis/client-admin/create_user.spec.js
  e2e/cypress/integration/polis/client-admin/home.spec.js
  e2e/cypress/plugins/index.js
  e2e/cypress/support/commands.js
  e2e/cypress/support/index.js
  e2e/package-lock.json
  e2e/package.json
  file-server/Dockerfile
Labels: section:client-admin

#300 Refactor cypress tests
  e2e/cypress/integration/polis/client-admin/create_user.spec.js
  e2e/cypress/integration/polis/client-admin/home.spec.js
  e2e/cypress/support/commands.js
Labels: section:client-admin

#248 Add translations: ja & zh_Hant
  .github/workflows/cypress-tests.yml
  client-participation/js/strings.js
  client-participation/js/strings/ja.js
  client-participation/js/strings/zh_Hant.js
  e2e/cypress/fixtures/writePrompt_strings.json
  e2e/cypress/integration/polis/client-participation/i18n.spec.js
  e2e/cypress/support/commands.js
Labels: priority-★★★

#316 Allow subscription alert to be localized/translated
  client-participation/js/strings/en_us.js
  client-participation/js/strings/es_la.js
  client-participation/js/views/vote-view.js
Labels: ♿ accessibility, 🔩 p:client-participation

#266 Add dependabot config for JS and Docker parts of repo
  .github/dependabot.yml
Labels: ⚒️ infrastructure

#340 Tag dependabot auto-PRs with our existing labels
  .github/dependabot.yml
Labels: ⚒️ infrastructure

#344 Fix: Hardcode dev as target-branch for dependabot config
  .github/dependabot.yml
Labels: ⚒️ infrastructure

#362 Reduce bundle bloat by removing react-highlight usage
  .github/workflows/bundlewatch.yml
  client-admin/.bundlewatch.config.js
  client-admin/package-lock.json
  client-admin/package.json
  client-admin/src/components/conversation-admin/share-and-embed.js
  client-admin/src/components/conversations-and-account/integrate.js
Labels: 🔩 p:client-admin

#311 Fix trailing slash
  client-admin/src/app.js
  client-admin/src/components/conversation-admin/comment-moderation/index.js
  client-admin/src/components/conversation-admin/index.js
  e2e/cypress/integration/polis/client-admin/create_user.spec.js
  e2e/cypress/integration/polis/client-admin/routes.spec.js
  e2e/cypress/support/commands.js
  e2e/cypress/support/index.js
Labels: 🐛 bug, 🔩 p:client-admin

#366 Fix e2e tests
  e2e/cypress/support/commands.js
Labels: ⚒️ infrastructure, 🔩 p:client-admin

#368 Reduce bundlesize due to lodash
  .github/workflows/bundlewatch.yml
  client-admin/.babelrc
  client-admin/package-lock.json
  client-admin/package.json
  client-admin/src/components/conversation-admin/comment-moderation/comment.js
  client-admin/src/components/conversation-admin/comment-moderation/index.js
  client-admin/src/components/conversation-admin/comment-moderation/moderate-comments-accepted.js
  client-admin/src/components/conversation-admin/comment-moderation/moderate-comments-rejected.js
  client-admin/src/components/conversation-admin/comment-moderation/moderate-comments-todo.js
  client-admin/src/components/conversation-admin/conversation-config.js
  client-admin/src/components/conversation-admin/conversation-has-comments-check.js
  client-admin/src/components/conversation-admin/data-export.js
  client-admin/src/components/conversation-admin/index.js
  client-admin/src/components/conversation-admin/report/reports-list.js
  client-admin/src/components/conversation-admin/report/reports.js
  client-admin/src/components/conversation-admin/seed-comment.js
  client-admin/src/components/conversation-admin/seed-tweet.js
  client-admin/src/components/conversation-admin/share-and-embed.js
  client-admin/src/components/conversation-admin/stats/conversation-stats-comments-timescale.js
  client-admin/src/components/conversation-admin/stats/conversation-stats-number-cards.js
  client-admin/src/components/conversation-admin/stats/index.js
  client-admin/src/components/conversations-and-account/integrate.js
  client-admin/src/components/framework/nav-tab.js
  client-admin/src/components/landers/tos.js
  client-admin/src/util/net.js
  client-admin/webpack.config.js
  e2e/cypress/integration/polis/client-admin/routes.spec.js
  e2e/cypress/integration/polis/client-participation/i18n.spec.js
  e2e/cypress/support/commands.js
Labels: 🔩 p:client-admin

#382 Fix issue with envvars in bundlewatch config
  .github/workflows/bundlewatch.yml
  client-admin/.bundlewatch.config.js
Labels: ⚒️ infrastructure
