Repository compdemocracy/polis, pull requests merged in 2020-08, with the labels that each got.

#485 Upgrade all babel packages to latest
  client-admin/package-lock.json
  client-admin/package.json
Labels: 🔩 p:client-admin, 🧹 chore

#465 Added depcheck workflow
  .github/workflows/depcheck.yml
  client-admin/package-lock.json
  client-admin/package.json
Labels: ⚒️ infrastructure, 🔩 p:client-admin, 🧹 chore

#486 Use version instead of url for file-loader package
  client-admin/package-lock.json
  client-admin/package.json
Labels: 🔩 p:client-admin, 🧹 chore

#483 Update ~150 vulnerabilities in transitive deps in lockfile, via `npm audit fix`
  client-admin/package-lock.json
Labels: 🔩 p:client-admin, 🧹 chore

#488 Updated express package dev dependency
  client-admin/package-lock.json
  client-admin/package.json
Labels: 🔩 p:client-admin, 🧹 chore

#489 Update eslint dev dependencies
  client-admin/package-lock.json
  client-admin/package.json
Labels: 🔩 p:client-admin, 🧹 chore

#490 Update webpack dev dependencies
  client-admin/package-lock.json
  client-admin/package.json
Labels: 🔩 p:client-admin, 🧹 chore

#491 Update file-loader dev dependency
  client-admin/package-lock.json
  client-admin/package.json
Labels: 🔩 p:client-admin, 🧹 chore

#494 Lower admin bundlesize limit to 250kB as recommended [skip ci]
  client-admin/.bundlewatch.config.js
Labels: ⚒️ infrastructure, 🔩 p:client-admin, 🧹 chore

#506 Run clojure tests on commits to math
  .github/workflows/test-clojure.yml
  math/project.clj
  math/system.properties
Labels: ⚒️ infrastructure, 🔩 p:math, 🧹 chore

#503 Add mention of community chat in README
  README.md
Labels: 👋🏽 community

#520 Fix github status checks when submitting PR from fork
  .github/workflows/depcheck.yml
  .github/workflows/lint.yml
Labels: ⚒️ infrastructure, 🧹 chore

#523 It is not possible to allow users to only use one of facebook / twitter to vote.
  client-participation/js/templates/comment-form.handlebars
  client-participation/js/templates/vote-view.handlebars
  client-participation/js/views/comment-form.js
  client-participation/js/views/vote-view.js
Labels: 🐛 bug, 🔩 p:client-participation

#529 Add tests for social login buttons
  client-admin/src/components/conversation-admin/conversation-config.js
  client-admin/src/components/conversation-admin/seed-comment.js
  e2e/cypress/fixtures/writePrompt_strings.json
  e2e/cypress/integration/polis/client-admin/convo_access.spec.js
  e2e/cypress/integration/polis/client-admin/create_user.spec.js
  e2e/cypress/integration/polis/client-admin/home.spec.js
  e2e/cypress/integration/polis/client-admin/routes.spec.js
  e2e/cypress/integration/polis/client-admin/signin.spec.js
  e2e/cypress/integration/polis/client-participation/comment-translation.secrets.spec.js
  e2e/cypress/integration/polis/client-participation/i18n.spec.js
  e2e/cypress/integration/polis/client-participation/social-login.spec.js
  e2e/cypress/support/commands.js
Labels: ⚒️ infrastructure, 🔩 p:client-participation, 🧹 chore

#402 Add e2e tests for share page
  client-admin/src/components/conversation-admin/conversation-config.js
  e2e/cypress/integration/polis/client-admin/share.spec.js
Labels: ⚒️ infrastructure, 🔩 p:client-admin, 🧹 chore

#548 Fixup: Ensure unconfigured email transports will work and are tested
  .github/workflows/cypress-tests.yml
  server/email/senders.js
Labels: 🐛 bug, 🔩 p:server, 🧹 chore

#540 Allow testing docker containers with snakeoil SSL certificates
  .github/workflows/cypress-tests.yml
  README.md
  docker-compose.yml
  docs/deployment.md
  e2e/cypress/integration/polis/emails.spec.js
  file-server/nginx.Dockerfile
  file-server/nginx.site.default.conf
  file-server/nginx/certs/snakeoil.cert.pem
  file-server/nginx/certs/snakeoil.key.pem
  file-server/nginx/nginx-ssl.site.default.conf
  server/app.js
  server/server.js
Labels: ⚒️ infrastructure, 🧹 chore

#421 Re-organize server files to align with PDIS fork
  server/app.js
  server/src/auth/create-user.js
  server/src/auth/password.js
  server/src/comment.js
  server/src/config.js
  server/src/conversation.js
  server/src/db/pg-query.js
  server/src/db/sql.js
  server/src/email/senders.js
  server/src/log.js
  server/src/server.js
  server/src/session.js
  server/src/user.js
  server/src/utils/common.js
  server/src/utils/cookies.js
  server/src/utils/metered.js
  server/src/utils/parameter.js
Labels: 🔩 p:server
