Repository compdemocracy/polis, pull requests merged in 2021-05, with the labels that each got.

#988 micahstubbs/162/prettier for server
  server/package-lock.json
  server/package.json
  server/prettier.config.js
  server/src/auth/create-user.js
  server/src/auth/password.js
  server/src/comment.js
  server/src/config.js
  server/src/conversation.js
  server/src/db/pg-query.js
  server/src/db/sql.js
  server/src/email/senders.js
  server/src/log.js
  server/src/server.js
  server/src/session.js
  server/src/user.js
  server/src/utils/common.js
  server/src/utils/cookies.js
  server/src/utils/metered.js
  server/src/utils/parameter.js
Labels: ⚒️ infrastructure

#971 Add Welsh translation
  client-participation/js/strings.js
  client-participation/js/strings/cy.js
  e2e/cypress/integration/polis/client-participation/i18n.spec.js
Labels: 🔩 p:client-participation

#695 Disable CSS font ligatures from admin UI
  client-admin/index.html
Labels: 🐛 bug, 🔩 p:client-admin
